In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Fertile_Man_2020.csv')

In [4]:
df

,PI,Semen Volume (ml),Sperm Concentration (106/ml),Total Number (106),Total Motility (%),Progressive Motility (%),Non-progressive Motility (%),Immotile Spermatozoa (%),Vitality (%),Normal Forms (%)
0,Aboutorabi,3.2,27.0,86.4,35,20,15,65,NO RESULT,NO RESULT
1,Aboutorabi,0.8,136.0,108.8,47,35,12,53,NO RESULT,NO RESULT
2,Aboutorabi,2.0,71.0,142.0,49,42,7,51,NO RESULT,NO RESULT
3,Aboutorabi,1.0,35.0,35.0,50,28,22,50,NO RESULT,NO RESULT
4,Aboutorabi,2.0,46.0,92.0,51,28,33,49,NO RESULT,NO RESULT
...,...,...,...,...,...,...,...,...,...,...
3584,Tang,1.7,23.0,39.1,53,52,1,NO RESULT,82,25
3585,Tang,2.5,110.0,275.0,66,66,0,NO RESULT,95,30
3586,Tang,2.0,109.0,218.0,64,44,20,36,NO RESULT,11
3587,Tang,6.2,96.0,595.2,39,29,10,61,NO RESULT,7
3588,Tang,3.0,36.0,108.0,54,38,16,46,NO RESULT,11

In [5]:
df1 = df.corr()

In [6]:
df1.shape

(0, 0)

In [7]:
df.describe()

,PI,Semen Volume (ml),Sperm Concentration (106/ml),Total Number (106),Total Motility (%),Progressive Motility (%),Non-progressive Motility (%),Immotile Spermatozoa (%),Vitality (%),Normal Forms (%)
count,3589,3589,3589,3589,3589,3589,3589,3589,3589,3589
unique,10,97,644,1652,88,91,52,85,66,67
top,Tang,3.0,25.0,90.0,60,NO RESULT,5,NO RESULT,NO RESULT,NO RESULT
freq,1200,311,68,39,163,200,289,789,2252,254

In [9]:
df.keys()

Index(['PI', 'Semen Volume (ml)', 'Sperm Concentration (106/ml)',
       'Total Number (106)', 'Total Motility (%)', 'Progressive Motility (%)',
       'Non-progressive Motility (%)', 'Immotile Spermatozoa (%)',
       'Vitality (%)', 'Normal Forms (%)'],
      dtype='object')

In [12]:
df.dtypes

PI                              object
Semen Volume (ml)               object
Sperm Concentration (106/ml)    object
Total Number (106)              object
Total Motility (%)              object
Progressive Motility (%)        object
Non-progressive Motility (%)    object
Immotile Spermatozoa (%)        object
Vitality (%)                    object
Normal Forms (%)                object
dtype: object

In [13]:
df.isnull().sum()

PI                              0
Semen Volume (ml)               0
Sperm Concentration (106/ml)    0
Total Number (106)              0
Total Motility (%)              0
Progressive Motility (%)        0
Non-progressive Motility (%)    0
Immotile Spermatozoa (%)        0
Vitality (%)                    0
Normal Forms (%)                0
dtype: int64